footer.footer
	.footer--box
		.footer--copyright
			| © 2015 Standard development, All rigths reserved.
		ul.footer--soc--list.soc--list
			each item in ['facebook-logo', 'twitter', 'vk']
				li.footer--soc--item.soc--item
					a(href="#").footer--soc--link.soc--link
						i(class="demo-icon test-"+item)
		.otakoyi
			.otakoyi--text
				span by 
				| OTAKOYI
			img(src="main/img/otakoi.png", alt="otakoyi")