section#about_us
	.container
		.row
			.col-md-6
				h2.h2.h2_left
					span.blue about
					|  us
				p.text-align_left
					| Quisque fermentum, nisl mattis volutpat rhoncus, tellus est congue nibh, ut euismod quam nisi quis felis. Nullam at scelerisque tellus mattis volutpat rhoncus,
				p.p_black
					| Nullam at scelerisque tellus. Nulla feugiat iaculis ante, non tincidunt ligula scelerisque a. Vestibulum accumsan tincidunt odio vel finibus. Phasellus vestibulum lobortis ligula ut volutpat. Maecenas vitae nibh vel purus mollis semper. Nullam tempus feugiat mi id semper. Pellentesque ac posuere augue, vitae mollis enim. Etiam et ullamcorper dolor, a hendrerit quam.
				span.progr-name photoshop
				span.present 0%
				.progress.progress-success
					.bar(style='float: left; width: 0%; ', data-percentage='79', data-done='false')
				span.progr-name HTML/CSS
				span.present 0%
				.progress.progress-success
					.bar(style='float: left; width: 0%; ', data-percentage='90', data-done='false')
				span.progr-name Javascript
				span.present 0%
				.progress.progress-success
					.bar(style='float: left; width: 0%; ', data-percentage='69', data-done='false')
				span.progr-name wordpress
				span.present 0%
				.progress.progress-success
					.bar(style='float: left; width: 0%; ', data-percentage='92', data-done='false')
			.col-lg-4.col-lg-offset-2.col-md-4.col-md-offset-1
				.about-img
