section#banner
	.owl-carousel.banner-carousel
		.slide(style='background-image: url(main/img/banner_header.jpg);')
			.container
				.row
					.col-md-12
						h1.h1
							| Creative 
							span.yellow Design Agency
					.col-md-8.col-md-offset-2
						p
							| Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.
		.slide(hidden='', style='background-image: url(main/img/banner_header.jpg);')
			.container
				.row
					.col-md-12
						h1.h1
							| Creative 
							span.yellow Design Agency
					.col-md-8.col-md-offset-2
						p
							| Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.
		.slide(hidden='', style='background-image: url(main/img/banner_header.jpg);')
			.container
				.row
					.col-md-12
						h1.h1
							| Creative 
							span.yellow Design Agency
					.col-md-8.col-md-offset-2
						p
							| Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.
