section#products
	.prod-bgi(style='background-image: url(main/img/products_banner.jpg);')
		.prod-bgi_grdient
			h2.h2.h2_white
				| our 
				span.yellow products
	.owl-carousel.product-carousel
		// 1
		.prod-slide
			.container
				.row
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/1.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/2.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/3.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/4.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/5.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/6.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
		// 2
		.prod-slide
			.container
				.row
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/1.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/2.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/3.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/4.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/5.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/6.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
		// 3
		.prod-slide
			.container
				.row
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/1.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/2.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/3.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/4.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/5.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
					.col-md-4.col-sm-6.col-xs-12
						.prod-box
							img(src='main/img/products/6.jpg', alt='prod_1')
							.prod-text
								article title
								span.prod_prop best product
								p Duis bibendum diam non erat facilaisis en ter 
