section(id="choose_us", class="choose_us")
	.container
		.row
			.col-md-8.col-md-offset-2
				h2.h2
					| why 
					span.blue choose us
				p
					| Quisque fermentum, nisl mattis volutpat rhoncus, tellus est congue nibh, ut euismod quam nisi quis felis. Nullam at scelerisque tellus mattis volutpat rhoncus,
		.row
			.col-md-12
				.choose-wrap
					.choose-item
						i.fa.fa-heart-o
						article your title
						p Duis bibendum diam non erat facilaisis en ter tincidunt. Duis 
						.choose-item--hidden
							article see more
							.choose-item--hidden_links
								a(href='#', class="choose-item--hidden_links-link")
									i.fa.fa-link
								a(href='#', class="choose-item--hidden_links-more")
									i.fa.fa-search-plus
					.choose-item
						i.fa.fa-commenting-o
						article your title
						p Duis bibendum diam non erat facilaisis en ter tincidunt. Duis 
						.choose-item--hidden
							article see more
							.choose-item--hidden_links
								a(href='#', class="choose-item--hidden_links-link")
									i.fa.fa-link
								a(href='#', class="choose-item--hidden_links-more")
									i.fa.fa-search-plus
					.choose-item
						i.fa.fa-laptop
						article your title
						p Duis bibendum diam non erat facilaisis en ter tincidunt. Duis 
						.choose-item--hidden
							article see more
							.choose-item--hidden_links
								a(href='#', class="choose-item--hidden_links-link")
									i.fa.fa-link
								a(href='#', class="choose-item--hidden_links-more")
									i.fa.fa-search-plus
					.choose-item
						i.fa.fa-star-o
						article your title
						p Duis bibendum diam non erat facilaisis en ter tincidunt. Duis 
						.choose-item--hidden
							article see more
							.choose-item--hidden_links
								a(href='#', class="choose-item--hidden_links-link")
									i.fa.fa-link
								a(href='#', class="choose-item--hidden_links-more")
									i.fa.fa-search-plus
					.choose-item
						i.fa.fa-flag-o
						article your title
						p Duis bibendum diam non erat facilaisis en ter tincidunt. Duis 
						.choose-item--hidden
							article see more
							.choose-item--hidden_links
								a(href='#', class="choose-item--hidden_links-link")
									i.fa.fa-link
								a(href='#', class="choose-item--hidden_links-more")
									i.fa.fa-search-plus
