
.animation-instagram:before { content: '\e800'; } /* '' */
.animation-right-arrow:before { content: '\e801'; } /* '' */
.animation-twitter:before { content: '\e802'; } /* '' */
.animation-youtube:before { content: '\e803'; } /* '' */
.animation-facebook:before { content: '\e804'; } /* '' */
.animation-google:before { content: '\e805'; } /* '' */