section.news
	.container
		h2.h2
			| news
		.news--box
			.news--item
				.news--item--inf
					.news--item--inf--date
						span.news--item--inf--date--num 30 
						| december 
					.news--item--inf--author
						| by 
						a(href="#").news--item--inf--author--link
							| alex Turnton
				.news--item--img
					img(src="main/img/news/1.jpg", alt="how we do our work")
				.news--item--text
					h4.h4
						| how we do our work
					p.p
						| Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource
				.btn.news--btn
					| read more


			.news--item
				.news--item--inf
					.news--item--inf--date
						span.news--item--inf--date--num 20 
						| april 
					.news--item--inf--author
						| by 
						a(href="#").news--item--inf--author--link
							| Administrator
				.news--item--img
					img(src="main/img/news/2.jpg", alt="So hopefully this gives you a tiny insight")
				.news--item--text
					h4.h4
						| So hopefully this gives you a tiny insight
					p.p
						| Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource
				.btn.news--btn
					| read more



			.news--item
				.news--item--inf
					.news--item--inf--date
						span.news--item--inf--date--num 17 
						| april  
					.news--item--inf--author
						| by 
						a(href="#").news--item--inf--author--link
							| Sophi Black
				.news--item--img
					img(src="main/img/news/3.jpg", alt="six metres below the ocean's surface")
				.news--item--text
					h4.h4
						| six metres below the ocean's surface
					p.p
						| Operating as an integrated property development provider, UDG business activities cover land identification and acquisition, planning, financing, resource
				.btn.news--btn
					| read more