section.numbers
	.numbers--bgi(style="background-image: url(main/img/1.jpg)")
		.container.container-h
			.numbers--box
				.numbers--item
					.numbers--item--num
						| 40
					.numbers--item--text
						| million dollars worth of property developments 
				.numbers--item
					.numbers--item--num
						| 7
					.numbers--item--text
						| ha of land under development

				.numbers--item
					.numbers--item--num
						| 8
					.numbers--item--text
						| years in the investment market