section.projects
	.container
		.projects--box
			.projects--left
				h2.h2
					| our <br> projects
				a(href="#").link
					span.link--text see portfolio
					i.demo-icon.test-right
			.projects--right
				ul.projects--list
					li.projects--item
						.projects--item--img
							img(src="main/img/projects/1.jpg", alt="Hostel for students of KPI")
						.projects--item--text
							h3.h3
								span Hostel for 
								span students of KPI
							p.p.projects--p
								| Business was founded as a number of privately-held companies...

							a(href="#").btn.btn--projects
								| read more

					li.projects--item
						.projects--item--img
							img(src="main/img/projects/2.jpg", alt="House clubs «Nagornyi»")
						.projects--item--text
							h3.h3
								span House clubs 
								span «Nagornyi»
							p.p.projects--p
								| Business was founded as a number of privately-held companies...

							a(href="#").btn.btn--projects
								| read more

					li.projects--item
						.projects--item--img
							img(src="main/img/projects/3.jpg", alt="Residential complex «CAMPUS»")
						.projects--item--text
							h3.h3
								span Residential 
								span complex 
								span «CAMPUS»
							p.p.projects--p
								| Business was founded as a number of privately-held companies...

							a(href="#").btn.btn--projects
								| read more

					li.projects--item
						.projects--item--img
							img(src="main/img/projects/4.jpg", alt="Hostel for students of KPI")
						.projects--item--text
							h3.h3
								span Hostel for 
								span students of KPI
							p.p.projects--p
								| Business was founded as a number of privately-held companies...

							a(href="#").btn.btn--projects
								| read more