
.clock {
    width: 500px;
    height: 500px;
    border: 2px solid #000;
    margin: 0 auto;
    background-image: url('../numbers.jpg');
    border-radius: 50%;
    position: relative;
}
.sec {
    position: absolute;
    top: 4.2%;
    left: 50%;
    margin-left: 1px;
    width: 2px;
    height: 228px;
    background-color: red;
    transform-origin: 50% 100%;

}
.min {
    position: absolute;
    top: 1.1%;
    left: 50%;
    margin-left: -2.5px;
    width: 5px;
    height: 245px;
    background-color: #000;
    transform-origin: 50% 100%;
}
.hours {
    position: absolute;
    top: 20.2%;
    left: 50%;
    margin-left: -4.5px;
    width: 9px;
    height: 150px;
    background-color: #000;
    transform-origin: 50% 100%;
}
.dot {
    width: 20px;
    height:20px;
    background-color: #000;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/* .arr1 {
    width: 300px;
    height: 300px;
    position: absolute;
    height: 2px;
    left: 0%;
    top: 50%;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #000;
} */