
.icon-cover_icon:before { content: '\e800'; } /* '' */
.icon-cup_icon:before { content: '\e801'; } /* '' */
.icon-message_icon:before { content: '\e802'; } /* '' */
.icon-music-player-play-button:before { content: '\e803'; } /* '' */
.icon-heart_icon:before { content: '\e804'; } /* '' */
.icon-people_icon:before { content: '\e805'; } /* '' */